/*  OVERWRITE BOOTSTRAP STYLES  */

a{
    color: #303F9F !important;
}
.btn{
    border: none !important;
}

.btn-primary{
    background-color: #303F9F !important;
    border: none !important;
}

.btn-primary:hover{
    background-color: #3F51B5 !important;
}

.btn-warning{
    background-color: #E64A19 !important;
}
.btn-warning:hover{
    background-color: #FF5722 !important;
}

.btn-success{
    background-color: #388E3C !important;
}
.btn-success:hover{
    background-color: #4CAF50 !important;
}

.checkbox-mod{
    padding-top: 20px;
}

/*      MODALS      */

.bg-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(000,000,000,0.5);
    z-index: 10000;
    margin-top: 0px !important;
    display: none;
}

.content-modal{
    top: 15%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 15px 0px #000;
    padding: 0px !important;
}

.header-modal{
    border-bottom: 1px solid #dcdcdc;
    padding: 20px;
}

.header-modal button{
    background-color: transparent;
    border: none;
    color: #b5b5b5;
}

.body-modal{
    padding: 20px;
}

.footer-modal{
    padding: 20px;
    border-top: 1px solid #dcdcdc;
}

/******************************/

.container-fluid{
    padding: 0px !important;
}
#headerMenu a{
/*    font-size: 1em !important;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

body {
    margin: 0px;
    font-size: 14px !important;
}

/*      LOGIN       */

.cont-register{
    margin-top: 4%;
}
.cont-login{
    margin-top: 6%;
}
.logo-brand{
    background: transparent url("../images/ic_logo.png") right center no-repeat;
    width: 40px;
    height: 24px;
    background-size: contain;
    display: block;
    padding: 0px;
    margin: 0px;
}
.cont-logo{
    color: white;
    width: 100%;
    height: 130px;
    border-radius: 100%;
    background: transparent url("../images/ic_logo.png") center center no-repeat;
    background-size: contain;
    display: block;
}
.cont-icon-register {
    background-color: #3F51B5;
    color: white;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.btn-login{
/*    padding: 6px 30px !important;*/
}


.btn-group-login input,
.btn-group-register button{
    margin-right: 2.9%;
}

.btn-group-login input,
.btn-group-login a,
.btn-group-register button,
.btn-group-register a{
    width: 48%;
    display: inline-block;
}
.btn-group-login a,
.btn-group-register a{
    border: none;
/*    background-color: #e6e6e6;*/
    color: #23527c;
}

/*      CONTENEDOR      */

/*----- NAVBAR -----*/

.navbar-default{
    background-color: #FF5722 !important;
    border: none !important;
    border-radius: 0px !important;
}
.navbar-default a{
    color: white !important;
}

.navbar-default li:hover{
    border-bottom: 3px solid #303F9F;
}
.navbar-default li a{
    padding-bottom: 12px !important;
}

/*      FOOTER      */

#footer{
	padding: 12px 20px;
    background-color: white;
    border-top: 1px solid #F1F1F1;
    color: #FF5722;
}
#footer p{
    margin: 0px;
}


table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }
  .t1 th, .t1 td {
    padding: 4px 8px;
  }
  .t1 thead th {
    background: #4f81bd;
    text-transform: lowercase;
    text-align: left;
    font-size: 15px;
    color: white;
  }
  .t1 tr {
    border-right: 1px solid #95b3d7;
  }
  .t1 tbody tr {
    border-bottom: 1px solid #95b3d7;
  }
  .t1 tbody tr:nth-child(odd) {
    background: #dbe5f0;
  }
  .t1 tbody th, .t1 tbody tr:nth-child(even) td {
    border-right: 1px solid #95b3d7;
  }
  .t1 tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: white;
  }
  .t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
    text-align: right;
  }
